body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* image-rendering: -webkit-optimize-contrast; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textPop {
  color: #BB90FB;
}

.showDate {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12pt;
}

.showDateLarge {
  font-weight: normal;
  margin-left: 5px;
  font-size: 18pt;
}

.showDuration {
  margin-left: 15px;
}